<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Signin pairwise</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='style.css') }}></link>
    <script type="text/javascript" src="/static/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/static/javascriptBase.js"></script>
</head>

<nav class="navbar navbar-default navbar-static-top">
	<div class="container-fluid">
		<div class="col-md-10">
			<h1>图像测评工具</h1>
			<a href='/logout'>你好！{{userName}}，点击退出</a>
		</div>
		<div class="col-md-2">
    		<img id="westalgo" src={{ url_for('static', filename='westalgo.jpg') }} "></img>
    	</div>
	</div>
</nav>

<body>
{% if tasks%}
<div class = "container-fluid">
	<div class = "row">
	<div class="col-sm-1 col-md-1 sidebar">
	    <ul class="nav nav-sidebar" id="tasklist">
	    	<li class='active'><a>任务列表</a></li>
	    	{% for task in tasks %}
				<li><a>{{task}}</a></li>
			{% endfor %}
	    </ul> 
	</div>
	</div>
{% endif %}
	
<div class = "container">
{% block page_content %}{% endblock %}
</div>

<div class = "container">
{% block add_content %}{% endblock %}
</div>

<div class = "container">
{% block task_content %}{% endblock %}
</div>
</body>