<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Signin pairwise</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">   
</head>
  
<body>
	<nav class="navbar navbar-default navbar-static-top">
	<div class="container-fluid">
		<div class="col-xs-15 col-md-11">
			<h1>图像测评工具</h1>
		</div>
		<div class="col-xs-3 col-md-1">
    		<img id="westalgo" src={{ url_for('static', filename='westalgo.jpg') }} "></img>
    	</div>
	</div>
	</nav>

	<div class="container mimin-wrapper">
		<h1 class="form-signin-heading">请输入用户名及密码</h1>
		<form method="POST">
			{{form.hidden_tag()}}
			{{form.name(class='form-control',id='name')}}
				{%for e in form.name.errors%}
					<span style="color: red">*{{e}}</span>
				{%endfor%}
		    {{form.password(class='form-control',id='password')}}
		    	{%for e in form.password.errors%}
		    		<span style="color: red">*{{e}}</span>
		    	{%endfor%}
			
		    <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
		 </form>
		 
		 <span style="color: red">
		    {% for message in get_flashed_messages() %}  
		        {{ message }}  
		    {% endfor %}   
		 </span>  
	</div>
</body>
</html>
